# CRISPR-guided multiomics: PubMed mTOR/Hippo literature analysis

## Overview

Using data from PubMed and Pubtator Central, scores are assigned to each gene based on how often they appear in articles mentioning Hippo / mTOR signaling.

**Approach**:

1. Load Pubmed public article data (~22m article titles/abstracts)
2. Find all articles containing the strings "hippo signaling" or "hippo pathway" (Hippo) and "mtor" or "target of rapamycin" (mTOR).
3. Compute the ratio of the # of gene occurrences associated with each of the query terms vs. how often the gene would be expected to appear alongside of the same number of articles if no such association is present.

**Datasets used**

- `articles-baseline-full.csv` - Pubmed article title, abstract, etc. in tabular format.
- `bioconcepts2pubtatorcentral_filtered_human_genes.feather` - Pubmed human gene annotations from PubTator Central.
- `grch38.tsv.gz` - GRCh38 gene annotations from the `annotables` R package.

**Limitations**

- PubTator Central annotations only cover a subset of PubMed articles
- Gene annotations may be located anywhere in the article text, while "mTOR" / "Hippo signaling" checks are limited to the article titles/abstracts.

**Data sources**

1. https://ftp.ncbi.nlm.nih.gov/pubmed/baseline/
2. https://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral/
3. https://github.com/stephenturner/annotables

## Methods

### Setup

In [2]:
import os
import pandas as pd
from typing import List

out_dir = "output"

if not os.path.exists(out_dir):
    os.makedirs(out_dir, mode=0o755)

Below, PubTator Central gene annotations are loaded from a filtered version of the dataset which includes only genes from articles which are also annotated as mentioning "human".

This is donely purely for convenience / speed up the process of working with the data.

In [3]:
# load pubtator article x gene count data
pubtator_genes = pd.read_feather("data/bioconcepts2pubtatorcentral_filtered_human_genes.feather")

pubtator_genes = pubtator_genes.astype({"pmid": "int",
                                        "concept_id": "int", 
                                        "type": "category", 
                                        "mentions": "string", 
                                        "resource": "category"})

pubtator_genes.shape

(31528536, 5)

In [4]:
# preview of pubtator dataframe
pubtator_genes.head()

,pmid,type,concept_id,mentions,resource
0,23574000,Gene,3497,IgE,GNormPlus
1,3921000,Gene,140738,PR,GNormPlus
2,17505000,Gene,1113,chromogranin A,GNormPlus
3,17505000,Gene,4255,O(6)-methylguanine DNA methyltransferase,GNormPlus
4,21677000,Gene,64399,hip,GNormPlus

In [5]:
# number of unique pubmed articles
total_articles = len(set(pubtator_genes.pmid))
total_articles

4880846

Below, PubMed article titles and abstracts from the PubMed public article data are loaded.
These are used to check for mentions of the Hippo signaling pathway / mTOR.

The csv file simply stores the raw titles/abstracts, as extracted from the source XML files.

In [6]:
# load pubmed title/abstract data (~22.7m articles/rows)
infile = "data/articles-baseline-full.csv"

pubmed = pd.read_csv(infile, dtype={"id": "int",
                                    "doi": "string", 
                                    "title": "string",
                                    "abstract": "string", 
                                    "date": "string"})

pubmed.shape

(22754173, 5)

In [7]:
# exclude articles for which no human genes are annotated in pubtator
# (helps to reduce memory footprint; ~22.7 -> 4.6m rows)
pmids = set(pubtator_genes.pmid)
mask = pubmed.id.isin(pmids)

mask.value_counts()

pubmed = pubmed[mask]

In [8]:
# convert titles/abstracts to lowercase and combine
pubmed['abstract'] = pubmed['abstract'].str.lower()
pubmed['title'] = pubmed['title'].str.lower()

# combine title & text into a single string (performing piecewise, to reduce memory requirements)
pubmed['text'] = pubmed['title'] + " "
pubmed['text'] = pubmed['text'] + pubmed['abstract']

pubmed.drop(columns=['title', 'abstract'], inplace=True)

In [9]:
# load gene annotations (source: Annotables R package)
annot = pd.read_csv("data/grch38.tsv.gz", sep='\t')

In [10]:
# generate a table of total gene counts across all articles
global_counts = pubtator_genes.concept_id.value_counts().sort_values(ascending=False)
global_counts = global_counts.to_frame().rename(columns={"concept_id": "num_articles_global"})

# drop genes that can't be mapped from entrez ids -> symbols
mask = global_counts.index.isin(annot.entrez)
global_counts = global_counts[mask]

# add gene symbols
gene_symbols = annot.set_index('entrez').loc[global_counts.index].symbol
gene_symbols = gene_symbols[~gene_symbols.to_frame().index.duplicated(keep='first')]
global_counts.index = gene_symbols

# combine counts for duplicated symbols
global_counts = global_counts.groupby('symbol').sum()

global_counts.head()

          num_articles_global
symbol
A1BG                     3652
A1BG-AS1                   30
A1CF                      172
A2M                      9406
A2M-AS1                    32

### helper functions

In [11]:
def pmids_to_genes(pmids: List[str]) -> pd.DataFrame:
    """
    Helper function to return a table of raw and adjusted gene counts associated with a given set of
    pubmed ids.
    
    Since some genes are discussed much more frequently in the literature than others, an "adjusted" 
    count is computed which modifies the raw counts based on the expected likelihood of a similar number of
    mentions ocurring for the gene simply due to chance.    
    
    Arguments
    ---------
    pmids: List[str]
        List of PubMed article IDs
        
    Return
    ------
    pd.DataFrame
        DataFrame containing counts of each gene mentioned at least once in titles/abstracts of the query articles.
    """
    gene_counts = pubtator_genes[pubtator_genes.pmid.isin(pmids)].concept_id.value_counts()

    # drop genes that can't be mapped from entrez ids -> symbols
    mask = gene_counts.index.isin(annot.entrez)
    gene_counts = gene_counts[mask]

    gene_counts = gene_counts.to_frame().rename(columns={"concept_id": "num_articles_query"})

    gene_symbols = annot.set_index('entrez').loc[gene_counts.index].symbol
    
    # drop duplicated indices
    gene_symbols = gene_symbols[~gene_symbols.to_frame().index.duplicated(keep='first')]

    gene_counts.index = gene_symbols
    
    # expected gene count = <average gene mentions / article> * <num articles in batch>
    # (later, a better model of expected gene counts for a article batch of size "N" could be employed..)
    expected_counts = global_counts.copy()
    expected_counts['num_articles_expected'] = (expected_counts['num_articles_global'] / total_articles) * len(pmids)

    # add a "score" column reflecting the ratio of observed/expected gene mentions
    gene_counts = pd.merge(gene_counts, expected_counts, left_index=True, right_index=True)
    gene_counts['score'] = gene_counts.num_articles_query / gene_counts.num_articles_expected

    gene_counts = gene_counts.sort_values('score', ascending=False)

    return gene_counts

### Find articles pertaining to mTOR/Hippo signaling

In [12]:
# Hippo signaling
hippo_mask1 = pubmed.text.str.contains('hippo signaling')
hippo_mask2 = pubmed.text.str.contains('hippo pathway')
hippo_mask = hippo_mask1 | hippo_mask2

print(f"- # Hippo articles: {hippo_mask.sum()}")

- # Hippo articles: 1911

In [13]:
# mTOR
mtor_mask1 = pubmed.text.str.contains(r'\bmtor\b')
mtor_mask2 = pubmed.text.str.contains('target of rapamycin')
mtor_mask = mtor_mask1 | mtor_mask2

print(f"- # mTOR articles: {mtor_mask.sum()}")

- # mTOR articles: 21600

In [14]:
# articles mentioning both Hippo and mTOR?
print(f"- # Hippo/mTOR articles: {(hippo_mask & mtor_mask).sum()}")

- # Hippo/mTOR articles: 44

In [15]:
# Gene rankings for Hippo, mTOR, or both
hippo_genes = pmids_to_genes(pubmed[hippo_mask].id.values.tolist())
mtor_genes = pmids_to_genes(pubmed[mtor_mask].id.values.tolist())
mtor_hippo_genes = pmids_to_genes(pubmed[hippo_mask & mtor_mask].id.values.tolist())

# exclude genes only with only a single association
hippo_genes = hippo_genes[hippo_genes.num_articles_query >= 2]
mtor_genes = mtor_genes[mtor_genes.num_articles_query >= 2]
mtor_hippo_genes = mtor_hippo_genes[mtor_hippo_genes.num_articles_query >= 2]

### Genes commonly associated with Hippo

In [16]:
hippo_genes.head(50)

,num_articles_query,num_articles_global,num_articles_expected,score
symbol,,,,
MIR8070,2,2,0.000783,2554.079540
MOB1B,103,226,0.088486,1164.027401
MOB1A,307,739,0.289341,1061.031690
SAV1,382,966,0.378218,1009.998327
VGLL4,126,365,0.142909,881.682252
STK3,484,1572,0.615486,786.370545
LINC01048,4,13,0.005090,785.870628
LATS1,675,2262,0.885642,762.159014
WWC3,21,82,0.032105,654.093541
TEAD3,65,259,0.101406,640.985213
AMOTL2,80,351,0.137427,582.126391
AMOT,147,658,0.257627,570.592238
WWC1,162,731,0.286209,566.020363
WWTR1,180,898,0.351594,511.953583
LATS2,466,2383,0.933017,499.454916
TEAD4,229,1222,0.478450,478.628653
AMOTL1,82,450,0.176189,465.410049
MAP3K10,126,705,0.276029,456.473790
STK4,118,690,0.270156,436.784617
TEAD1,254,1492,0.584163,434.809788
WBP2,34,211,0.082613,411.557840
WTIP,16,100,0.039153,408.652726
MOB4,17,108,0.042285,402.031039
MST1,542,3599,1.409118,384.637708
MIR6886,2,14,0.005481,364.868506
TEAD2,107,787,0.308134,347.250967
MOB2,16,118,0.046201,346.315870
LINC00649,4,32,0.012529,319.259942
VGLL1,22,179,0.070084,313.909217
FRMD1,5,41,0.016053,311.473115
TAZ,897,7680,3.006954,298.308509
STK24,144,1284,0.502725,286.438827
PJA2,15,134,0.052465,285.904426
PTPN14,82,784,0.306960,267.135870
STK38L,28,273,0.106888,261.956876
MIR4269,6,59,0.023100,259.736902
TCEAL9,5,50,0.019577,255.407954
CYR61,364,3777,1.478811,246.143752
MIR6894,2,21,0.008222,243.245670
STK38,79,836,0.327319,241.354406
ANKRD1,77,820,0.321055,239.834298
STRN3,13,139,0.054423,238.870748
AJUBA,63,691,0.270548,232.861087
MOB3A,3,33,0.012921,232.189049
RASSF5,64,706,0.276421,231.531290
WBP1,8,89,0.034846,229.580183
RASSF6,22,248,0.097100,226.571572
TAOK1,47,542,0.212210,221.479222
SIKE1,7,86,0.033672,207.890195
VGLL3,15,185,0.072433,207.087530

### Genes commonly associated with mTOR

In [17]:
mtor_genes.head(50)

,num_articles_query,num_articles_global,num_articles_expected,score
symbol,,,,
C12orf66,21,33,0.146040,143.795968
PRR5,195,336,1.486955,131.140456
WDR59,40,71,0.314208,127.304278
WDR24,41,73,0.323059,126.911901
RRAGB,165,325,1.438275,114.720739
MLST8,587,1244,5.505275,106.625008
DEPTOR,610,1295,5.730974,106.439156
ITFG2,22,48,0.212422,103.567334
CASTOR1,60,135,0.597437,100.428930
TBC1D7,138,311,1.376319,100.267469
TTI1,99,238,1.053260,93.993883
RRAGC,181,458,2.026862,89.300615
EIF4EBP1,2850,7279,32.212940,88.473762
RHEB,1342,3457,15.298823,87.719165
RPTOR,1958,5094,22.543305,86.855055
RRAGD,84,229,1.013431,82.886759
AKT1S1,950,2598,11.497351,82.627728
LAMTOR4,35,97,0.429270,81.533796
SLC38A9,121,341,1.509083,80.181162
RRAGA,181,511,2.261411,80.038516
PRR5L,53,157,0.694798,76.281210
CASTOR2,13,39,0.172593,75.321698
CRTC2,519,1582,7.001081,74.131405
RPS6KB1,4879,15780,69.833795,69.865886
CRTC1,848,2838,12.559462,67.518816
RHEBL1,20,69,0.305357,65.497128
MIR7849,2,7,0.030978,64.561455
FNIP2,50,183,0.809860,61.739096
TSC2,2562,9460,41.864873,61.196889
DDIT4L,49,181,0.801009,61.172870
RPS6,1060,3933,17.405343,60.900839
NPRL2,85,316,1.398446,60.781750
RICTOR,1597,6207,27.468845,58.138594
EIF4EBP2,75,297,1.314362,57.061892
SZT2,31,127,0.562034,55.156834
BMT2,22,91,0.402717,54.628923
LAMTOR1,65,270,1.194875,54.399004
MAPKAP1,530,2284,10.107756,52.434982
LAMTOR2,44,191,0.845263,52.054786
DEPDC5,115,508,2.248135,51.153515
TEX37,4,18,0.079658,50.214465
SEH1L,44,199,0.880667,49.962131
FKBP1A,312,1435,6.350538,49.129693
FNIP1,50,238,1.053260,47.471658
NPRL3,80,383,1.694952,47.198975
RNF152,17,84,0.371739,45.731031
TRERF1,165,857,3.792621,43.505531
EIF4EBP3,24,128,0.566459,42.368455
EIF4B,240,1290,5.708846,42.040017
FKBP8,98,534,2.363197,41.469249

### Genes commonly associated with both Hippo + mTOR

In [18]:
mtor_hippo_genes.head(50)

,num_articles_query,num_articles_global,num_articles_expected,score
symbol,,,,
VGLL4,4,365,0.003290,1215.652802
MOB1B,2,226,0.002037,981.666533
MOB1A,6,739,0.006662,900.635872
SAV1,7,966,0.008708,803.828393
AMOT,4,658,0.005932,674.336281
AMOTL2,2,351,0.003164,632.070189
LATS1,12,2262,0.020392,588.479142
STK3,8,1572,0.014171,564.520703
TEAD1,6,1492,0.013450,446.092432
MST1,13,3599,0.032444,400.685784
WWTR1,3,898,0.008095,370.584582
SLC38A1,2,630,0.005679,352.153391
LATS2,7,2383,0.021482,325.849025
FZD3,2,795,0.007167,279.064951
TAZ,17,7680,0.069234,245.544454
TEAD4,2,1222,0.011016,181.552076
STK24,2,1284,0.011575,172.785542
DEPTOR,2,1295,0.011674,171.317866
YAP1,28,19845,0.178899,156.512618
MAP4K4,2,1500,0.013522,147.904424
TJP2,2,1528,0.013775,145.194134
RPS6,5,3933,0.035455,141.022525
RHEB,4,3457,0.031164,128.352118
ROR1,2,1803,0.016254,123.048606
SGMS1,2,1905,0.017173,116.460177
RPTOR,5,5094,0.045922,108.881349
UBE2I,2,2056,0.018534,107.906924
EIF4EBP1,6,7279,0.065619,91.436998
FSHR,2,2454,0.022122,90.406127
CYR61,3,3777,0.034049,88.108275
WNT4,2,2541,0.022907,87.310758
RPS6KB1,12,15780,0.142254,84.356135
ELF4,3,4020,0.036240,82.782327
NF2,6,8401,0.075734,79.225081
CRTC1,2,2838,0.025584,78.173586
SLC7A5,2,3001,0.027054,73.927570
RICTOR,4,6207,0.055955,71.485947
TSC2,6,9460,0.085280,70.356227
TP73,4,6568,0.059209,67.556832
CTGF,6,10952,0.098730,60.771540
SKP2,3,5555,0.050077,59.907283
BANF1,2,3803,0.034283,58.337270
MIR200A,2,3955,0.035654,56.095230
TSC1,6,11943,0.107664,55.728871
RORC,4,8267,0.074526,53.672828
BIRC5,2,4157,0.037475,53.369410
PAK1,2,4682,0.042207,47.385014
MAP1LC3B,3,7206,0.064961,46.181648
SQSTM1,4,9628,0.086795,46.085716
EIF4E,3,7782,0.070153,42.763423

### Create combined stats table

In [19]:
# convert gene counts to ranks
mtor_gene_ranks = mtor_genes.rank(axis=0, ascending=False) 
hippo_gene_ranks = hippo_genes.rank(axis=0, ascending=False) 

# create combined <gene x topic> co-occurrence stats table
drop_cols = ['num_articles_expected', 'num_articles_global']
x1 = mtor_genes.reset_index().drop(columns=drop_cols).rename(columns={'num_articles_query': 'mtor_num_articles', 'score': 'mtor_association_score'})
x2 = hippo_genes.reset_index().drop(columns=drop_cols).rename(columns={'num_articles_query': 'hippo_num_articles', 'score': 'hippo_association_score'})
x3 = mtor_hippo_genes.reset_index().drop(columns=drop_cols).rename(columns={'num_articles_query': 'mtor_plus_hippo_num_articles', 'score': 'mtor_plus_hippo_association_score'})

stats = x1.merge(x2, on='symbol', how='outer').merge(x3, on='symbol', how='outer')
stats = stats.fillna(0)

# add total article/score count across all queries
stats['total_articles'] = stats.mtor_num_articles + stats.hippo_num_articles + stats.mtor_plus_hippo_num_articles
stats['total_score'] = stats.mtor_association_score + stats.hippo_association_score + stats.mtor_plus_hippo_association_score
stats = stats.sort_values('total_score', ascending=False)

# add global article count
stats.insert(1, "num_articles_global", global_counts.loc[stats.symbol].values)

stats.reset_index(drop=True)

,symbol,num_articles_global,mtor_num_articles,mtor_association_score,hippo_num_articles,hippo_association_score,mtor_plus_hippo_num_articles,mtor_plus_hippo_association_score,total_articles,total_score
0,MIR8070,2,0.0,0.000000,2.0,2554.079540,0.0,0.000000,2.0,2554.079540
1,MOB1B,226,4.0,3.999382,103.0,1164.027401,2.0,981.666533,109.0,2149.693316
2,VGLL4,365,10.0,6.190824,126.0,881.682252,4.0,1215.652802,140.0,2103.525878
3,MOB1A,739,15.0,4.586572,307.0,1061.031690,6.0,900.635872,328.0,1966.254133
4,SAV1,966,15.0,3.508775,382.0,1009.998327,7.0,803.828393,404.0,1817.335495
...,...,...,...,...,...,...,...,...,...,...
9506,HBA1,22482,10.0,0.100509,0.0,0.000000,0.0,0.000000,10.0,0.100509
9507,ZFPM1,6874,3.0,0.098617,0.0,0.000000,0.0,0.000000,3.0,0.098617
9508,SRI,20834,9.0,0.097614,0.0,0.000000,0.0,0.000000,9.0,0.097614
9509,HHIP,62935,16.0,0.057447,0.0,0.000000,0.0,0.000000,16.0,0.057447
9510,CYP2D6,12461,3.0,0.054401,0.0,0.000000,0.0,0.000000,3.0,0.054401

### Save results

In [20]:
mtor_hippo_genes.to_csv(os.path.join(out_dir, 'hippo_plus_mtor_article_gene_stats.csv'))
hippo_genes.to_csv(os.path.join(out_dir, 'hippo_article_gene_stats.csv'))
mtor_genes.to_csv(os.path.join(out_dir, 'mtor_article_gene_stats.csv'))

stats.to_csv(os.path.join(out_dir, 'gene_topic_co-occurrence_stats.csv'), index=False)